:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* Padding */
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.p-15 {
  padding: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.p-10 {
  padding: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}
/* Margin */
.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.m-25 {
  margin: 25px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-25 {
  margin-right: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-25 {
  margin-left: 25px;
}
.m-15 {
  margin: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.m-0 {
  margin: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.m-5 {
  margin: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}

/* Background + Position + display + color + border rad */
.bg {
  background-color: #eee;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.bg-white {
  background-color: white;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.d-block {
  display: block;
}
.c-black {
  color: black;
}
.txt-c {
  text-align: center;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.border-1px {
  border: 1px solid #ccc;
}
/* font-size */
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-24 {
  font-size: 24px;
}
.w-full {
  width: 100%;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
  .d-block-mobile {
    display: block;
  }
}
.c-grey {
  color: var(--grey-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.c-white {
  color: white;
}
.c-blue {
  color: var(--blue-color);
}
.w-fit {
  width: min-content;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
.border-none {
  border: none;
}
.fw-bold {
  font-weight: bold;
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.f-wrap {
  flex-wrap: wrap;
}
.fs-13 {
  font-size: 13px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.op-half {
  opacity: 0.3;
}
.h-full {
  height: 100%;
}
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.rad-half {
  border-radius: 50%;
}
.c-po {
  cursor: pointer;
}
.border-eee {
  border: 1px solid #eee;
}
/* <label>
          <input type="checkbox" class="toggle-checkbox" checked>
           <div class="toggle-switch"></div>
    </label>
     */
